{% extends 'detour.html.twig' %}

{% block body %}
<script src="{{ asset('/node_modules/highcharts/highcharts.js') }}"></script>
<script src="{{ asset('/node_modules/highcharts/modules/exporting.js') }}"></script>

<div class="container bg-white">
    <div class="row">
        <div class="col-sm-12">
            <h2>Anime Detour Registration Statistics for {{ year }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3>Graphs</h3>
            <ul>
                <li><a href="#registrations_compare_year">Compare Registrations by Year</a></li>
                <li><a href="#registrations_by_type">{{ year }} Registrations by Type</a></li>
                <li><a href="#agePieChart">{{ year }} Registrations by Age</a></li>
                <li><a href="#zipMap">{{ year }} Registrations by Region</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div id="pie_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div id="registrations_compare_year" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="col-sm-4">
            <h3>Registrations By {{ "NOW"|date('F jS') }}</h3>
            <table class="table-condensed">
                <thead>
                    <tr>
                        <td>Year</td>
                        <td>Count</td>
                    </tr>
                </thead>
                <tbody>
                    {% for countArray in countByCurrentDate %}
                    <tr>
                        <td>{{ countArray[0] }}</td>
                        {% if countArray[2] < 0 %}
                        <td>{{ countArray[1] }} (<span style="color:red;font-weight: bolder">{{ countArray[2] }}</span>)</td>
                        {% elseif countArray[2] == 0 %}
                        <td>{{ countArray[1] }}</td>
                        {% else %}
                        <td>{{ countArray[1] }} (<span style="color:darkgreen;font-weight: bolder">+{{ countArray[2] }}</span>)</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="registrations_by_type" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div id="agePieChart"></div>
        </div>
        <div class="col-sm-6">
            <div id="zipMap">
                Downloading map...
            </div>

            <script src="https://code.highcharts.com/maps/modules/map.js"></script>
            <script src="https://code.highcharts.com/maps/modules/data.js"></script>
            <script src="https://code.highcharts.com/mapdata/countries/us/us-all-all.js"></script>
        </div>
    </div>
</div>

<script>
    Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    $(function () {
        var total = 0;
        $('#pie_chart').highcharts({
            credits: {
                enabled: false
            },
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 1,//null,
                plotShadow: false,
                events: {
                    load: function(event) {
                        $('.highcharts-legend-item').last().append('<br/><div style="width:200px"><hr/> <span style="float:left"> Total </span><span style="float:right"> ' + total + '</span> </div>')
                    }
                }
            },
            title: {
                text: 'Total Registrations, {{ year }}'
            },
            tooltip: {
                pointFormat: '\{series.name\}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false, // This just got too busy
                        format: '<b>\{point.name\}</b>: (\{y\}) \{point.percentage:.1f\}%',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    },
                    showInLegend: true
                }
            },
            legend: {
                enabled: true,
                layout: 'vertical',
                align: 'right',
                width: 220,
                verticalAlign: 'top',
                borderWidth: 0,
                useHTML: true,
                x: 0,
                y: 40,
                labelFormatter: function() {
                    total += this.y;
                    return '<div style="width:200px"><span style="float:left">' + this.name + '</span><span style="float:right">' + this.y + '</span></div>';
                },
                title: {
                    text: 'Primary',
                    style: {
                        fontWeight: 'bold'
                    }
                }
            },
            colors: ['#FE7F00', '#FFFF00', '#0000FF', '#551a8b', '#FF0000', '#d3d3d3'],
            series: [{
                type: 'pie',
                name: 'Registrations',
                data: [
                    ['Standard', {{ standard_percent|raw }}],
                    ['Minor', {{ minor_percent|raw }}],
                    ['Sponsor', {{ sponsor_percent|raw }}],
                    ['Community Sponsor', {{ community_percent|raw }}],
                    ['Staff', {{ staff_percent|raw }}],
                    ['Availiable', {{ avail_percent|raw }}]
                ]
            }]
        });
    });
    $(function () {
        var total = 0;
        $('#agePieChart').highcharts({
            credits: {
                enabled: false
            },
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 1,//null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '{{ year }} Registrations by Age'
            },
            legend: {
                enabled: true,
                layout: 'vertical',
                align: 'right',
                width: 120,
                verticalAlign: 'top',
                borderWidth: 0,
                useHTML: true,
                x: 0,
                y: 40,
                labelFormatter: function() {
                    total += this.y;
                    return '<div style="width:100px"><span style="float:left">' + this.name + '</span><span style="float:right">' + this.y + '</span></div>';
                },
                title: {
                    text: 'Primary',
                    style: {
                        fontWeight: 'bold'
                    }
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Ages',
                colorByPoint: true,
                data: {{ graphByAge|json_encode|raw }}
            }]
        });
    });
    $(function () {
        $('#registrations_compare_year').highcharts({
            credits: {
                enabled: false
            },
            title: {
                text: 'Total Registrations by month against other years'
            },
            subtitle: {
                text: 'Source: registration database'
            },
            xAxis: {
                //categories: {months},
                //tickmarkPlacement: 'on',
                title: {
                    enabled: false
                },
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                }
            },
            yAxis: {
                title: {
                    text: 'Memberships'
                },
                labels: {
                    formatter: function () {
                        return this.value;
                    }
                }
            },
            tooltip: {
                shared: true,
                valueSuffix: ' memberships'
            },
            series: {{ data_by_year|raw }}
        });
    });
    $(function () {
        $('#registrations_by_type').highcharts({
            credits: {
                enabled: false
            },
            colors: ['#FE7F00', '#FFFF00', '#0000FF', '#551a8b', '#00FF00', '#FF9655', '#FF0000', '#d3d3d3'],
            chart: {
                type: 'area'
            },
            title: {
                text: '{{ year }} Registrations by Type'
            },
            subtitle: {
                text: 'Source: registration database'
            },
            xAxis: {
                categories: {{ categories|raw }},
                tickmarkPlacement: 'on',
                title: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    text: 'Memberships'
                },
                labels: {
                    formatter: function () {
                        return this.value;
                    }
                }
            },
            tooltip: {
                shared: true,
                valueSuffix: ' memberships'
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            series: {{ data_by_type|raw }}
        });
    });


    $(function () {
        var countiesMap = Highcharts.geojson(Highcharts.maps['countries/us/us-all-all']),
            lines = Highcharts.geojson(Highcharts.maps['countries/us/us-all-all'], 'mapline'),
            options;

        // Add state acronym for tooltip
        Highcharts.each(countiesMap, function (mapPoint) {
            mapPoint.name = mapPoint.name + ', ' + mapPoint.properties['hc-key'].substr(3, 2).toUpperCase();
        });

        options = {
            chart: {
                borderWidth: 0,
                marginRight: 50 // for the legend
            },
            credits: {
                enabled: false
            },

            title: {
                text: 'Anime Detour {{ year }} Registrations by Region'
            },

            legend: {
                title: {
                    text: 'Registrations',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                    }
                },
                layout: 'vertical',
                align: 'right',
                floating: true,
                valueDecimals: 0,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || 'rgba(255, 255, 255, 0.85)',
                symbolRadius: 0,
                symbolHeight: 14
            },

            mapNavigation: {
                enabled: true
            },

            colorAxis: {
                dataClasses: [{
                    from: 0,
                    to: 1,
                    color: "#FFFFFF"
                }, {
                    from: 1,
                    to: 9,
                    color: "#FFF0EB"
                }, {
                    from: 9,
                    to: 15,
                    color: "#FFD2C2"
                }, {
                    from: 15,
                    to: 30,
                    color: "#FEB49A"
                }, {
                    from: 30,
                    to: 100,
                    color: "#FE9771"
                }, {
                    from: 100,
                    to: 250,
                    color: "#FE7948"
                }, {
                    from: 250,
                    to: 500,
                    color: "#FE5A1D"
                }, {
                    from: 500,
                    to: 1000,
                    color: "#F44201"
                }, {
                    from: 1000,
                    color: "#CB3701"
                }]
            },

            plotOptions: {
                mapline: {
                    showInLegend: false,
                    enableMouseTracking: false
                }
            },

            series: [{
                mapData: countiesMap,
                data: {{ graphByZip|json_encode|raw }},
                joinBy: ['hc-key', 'code'],
                name: 'Registrations',
                borderWidth: 0.5,
                states: {
                    hover: {
                        color: '#FE5A1D'
                    }
                }
            }, {
                type: 'mapline',
                name: 'State borders',
                data: [lines[0]],
                color: 'black'
            }, {
                type: 'mapline',
                name: 'Separator',
                data: [lines[1]],
                color: 'light gray'
            }]
        };

        // Instanciate the map
        $('#zipMap').highcharts('Map', options);
    });


</script>
{% endblock %}
