{##
 # Copyright (c) 2018. Anime Twin Cities, Inc.
 #
 # This project, including all of the files and their contents, is licensed under the terms of MIT License
 #
 # See the LICENSE file in the root of this project for details.
#}
{% extends 'detour.html.twig' %}

{% block body %}
<script src="{{ asset('/node_modules/highcharts/highcharts.js') }}"></script>
<script src="{{ asset('/node_modules/highcharts/modules/exporting.js') }}"></script>

<div class="container bg-white">
    <div class="row">
        <div class="col-sm-6">
            <h2>T-Shirt Orders</h2>
            <br>
            <a href="{{ path('shirt_csv') }}">Download CSV File</a>
            <br>
            <table class="table-sm">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Size</td>
                </tr>
                </thead>
                <tbody>
                {% for shirt in data %}
                <tr>
                    <td>{{ shirt[1] }}</td>
                    <td>{{ shirt[0] }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>{{ totalCount }}</td>
                    <td>Total</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <div id="pie_chart" style="min-width: 500px; height: 400px; max-width: 600px; margin: 0 auto; float: left"></div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#pie_chart').highcharts({
            credits: {
                enabled: false
            },
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 1,//null,
                plotShadow: false
            },
            title: {
                text: 'Total Shirts Ordered, {{ event.year }}'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>\{point.name\}</b>: \{y\}',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'T-Shirt Orders',
                data: {{ dataJson|raw }}
            }]
        });
    });
</script>
{% endblock %}