{% extends 'detour.html.twig' %}

{% block body %}
<div>
    <h2 id="reg_header">
        {% if group is not null and group.groupId %}
            Edit Group: {{ group.name }}
        {% else %}
            New Group
        {% endif %}
    </h2>
    <p><a href="/group/list">Return to groups list</a></p>
    {% if errors|length > 0 %}
    <div style="color: #ff0000; font-weight: bold;">
    <ul>
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% if saveSuccessful %}
    <p class="success" style="color: green;">
        Group saved successfully
    </p>
    {% endif %}

    <form class="form-horizontal" method="post" action="/group/edit/{{ group ? group.groupId : '' }}" id="guestedit_form" enctype="multipart/form-data">
        <input type="hidden" name="groupid" value="{{ group ? group.groupId : '' }}" />
        <input type="hidden" name="action" value="save" />

        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                    <input class="form-control" id="name" name="name" type="text" value="{{ group ? group.name : '' }}" placeholder="Club Name">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">School</span>
                    <input class="form-control" id="school" name="school" type="text" value="{{ group ? group.school : '' }}" placeholder="School">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Address</span>
                    <input class="form-control" id="address" name="address" type="text" value="{{ group ? group.address : '' }}" placeholder="123 Main St.">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7">
                <div class="input-group">
                    <span class="input-group-addon">City</span>
                    <input class="form-control" id="city" name="city" type="text" value="{{ group ? group.city : '' }}" placeholder="Minneapolis">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon">State</span>
                    <input class="form-control" id="state" name="state" type="text" value="{{ group ? group.state : '' }}" placeholder="MN">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group">
                    <span class="input-group-addon">Zip</span>
                    <input class="form-control" id="zip" name="zip" type="text" value="{{ group ? group.zip : '' }}" placeholder="12345">
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Leader</span>
                    <input class="form-control" id="leader" name="leader" type="text" value="{{ group ? group.leader : '' }}" placeholder="The leader is great">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">Leader's Phone</span>
                    <input class="form-control" id="leaderphone" name="leaderphone" type="text" value="{{ group ? group.leaderphone : '' }}" placeholder="Phone">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">Leader's Email</span>
                    <input class="form-control" id="leaderemail" name="leaderemail" type="text" value="{{ group ? group.leaderemail : '' }}" placeholder="Email">
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">Authorized Person</span>
                    <input class="form-control" id="authorizedname" name="authorizedname" type="text" value="{{ group ? group.authorizedname : '' }}" placeholder="Authorized Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">Authorized's Phone</span>
                    <input class="form-control" id="authorizedphone" name="authorizedphone" type="text" value="{{ group ? group.authorizedphone : '' }}" placeholder="Phone">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">Authorized's Email</span>
                    <input class="form-control" id="authorizedemail" name="authorizedemail" type="text" value="{{ group ? group.authorizedemail : '' }}" placeholder="Email">
                </div>
            </div>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary" onclick="window.location='/group/list'">Cancel</button>

        {% if group is not null and group.groupId %}
        <br>
        <h3>Group Members:</h3>
        <a href="/registration/group/add/{{ group.groupId }}">Add new group member</a>
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>Registration Number</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for registration in registrations %}
                <tr>
                    <td>{{ registration.number }}</td>
                    <td>
                        <a href="/registration/edit/{{ registration.registrationId }}">
                            {{ registration.firstname }} {{ registration.lastname }}
                        </a>
                    </td>
                    <td>{{ registration.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </form>
</div>
{% endblock %}
