{##
 # Copyright (c) 2018. Anime Twin Cities, Inc.
 #
 # This project, including all of the files and their contents, is licensed under the terms of MIT License
 #
 # See the LICENSE file in the root of this project for details.
#}
{% extends 'detour.html.twig' %}

{% block body %}
<div class="container bg-white">
    <div class="row">
        <div class="col-sm-12">
            <h2 id="reg_header">
                {% if group is not null and group.groupId %}
                    Edit Group: {{ group.name }}
                {% else %}
                    New Group
                {% endif %}
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p><a href="{{ path('group_list') }}">Return to groups list</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if errors|length > 0 %}
            <div style="color: #ff0000; font-weight: bold;">
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            </div>
            {% endif %}
            {% if saveSuccessful %}
            <p class="success" style="color: green;">
                Group saved successfully
            </p>
            {% endif %}
        </div>
    </div>
    <form class="form-horizontal" method="post" action="/group/edit/{{ group ? group.groupId : '' }}" id="guestedit_form" enctype="multipart/form-data">
    <input type="hidden" name="groupid" value="{{ group ? group.groupId : '' }}" />
    <input type="hidden" name="action" value="save" />
        <div class="row">
            <div class="col-sm-6">
                <div class="md-form">
                    <input type="text"
                           id="name"
                           name="name"
                           class="form-control validate"
                           value="{{ group.name|default('') }}"
                           placeholder="Club Name"
                           required>
                    <label class="required" for="name">
                        Club Name
                        <i class="fa fa-asterisk red-text small" aria-hidden="true"></i>
                    </label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="md-form">
                    <input type="text"
                           id="school"
                           name="school"
                           class="form-control validate"
                           value="{{ group.school|default('') }}"
                           placeholder="School of Hard Knocks"
                           required>
                    <label class="required" for="school">
                        School
                        <i class="fa fa-asterisk red-text small" aria-hidden="true"></i>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="md-form">
                    <input type="text"
                           id="address"
                           name="address"
                           class="form-control validate"
                           value="{{ group.address|default('') }}"
                           placeholder="Address"
                           >
                    <label for="address">
                        Address
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7">
                <div class="md-form">
                    <input type="text"
                           id="city"
                           name="city"
                           class="form-control validate"
                           value="{{ group.city|default('') }}"
                           placeholder="Central City"
                    >
                    <label for="city">
                        City
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="md-form">
                    <input type="text"
                           id="state"
                           name="state"
                           class="form-control validate"
                           value="{{ group.state|default('') }}"
                           placeholder="MN"
                    >
                    <label for="state">
                        State
                    </label>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="md-form">
                    <input type="text"
                           id="zip"
                           name="zip"
                           class="form-control validate"
                           value="{{ group.zip|default('') }}"
                           placeholder="12345"
                    >
                    <label for="zip">
                        Zip
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="md-form">
                    <input type="text"
                           id="leader"
                           name="leader"
                           class="form-control validate"
                           value="{{ group.leader|default('') }}"
                           placeholder="Colonel Mustang"
                    >
                    <label for="leader">
                        Leader
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="md-form">
                    <input type="text"
                           id="leaderphone"
                           name="leaderphone"
                           class="form-control validate"
                           value="{{ group.leaderPhone|default('') }}"
                           placeholder="0118 999 881 999 119 7253"
                    >
                    <label for="leaderphone">
                        Leader's Phone
                    </label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="md-form">
                    <input type="text"
                           id="leaderemail"
                           name="leaderemail"
                           class="form-control validate"
                           value="{{ group.leaderEmail|default('') }}"
                           placeholder="roy@crowd.it"
                    >
                    <label for="leaderemail">
                        Leader's Email
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="md-form">
                    <input type="text"
                           id="authorizedname"
                           name="authorizedname"
                           class="form-control validate"
                           value="{{ group.authorizedName|default('') }}"
                           placeholder="General Armstrong"
                    >
                    <label for="authorizedname">
                        Authorized Person
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="md-form">
                    <input type="text"
                           id="authorizedphone"
                           name="authorizedphone"
                           class="form-control validate"
                           value="{{ group.authorizedPhone|default('') }}"
                           placeholder="867-5309"
                    >
                    <label for="authorizedphone">
                        Authorized's Phone
                    </label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="md-form">
                    <input type="text"
                           id="authorizedemail"
                           name="authorizedemail"
                           class="form-control validate"
                           value="{{ group.authorizedEmail|default('') }}"
                           placeholder="jenny@shes.got.it"
                    >
                    <label for="authorizedemail">
                        Authorized's Email
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-4">
                <br>
                <button type="submit" class="btn btn-primary btn-sm btn-warning">Save</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="window.location='/group/list'">Cancel</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            {% if group is not null and group.groupId %}
            <br>
            <h3>Group Members:</h3>
            <a href="{{ path('registrationAddToGroup', {'groupId': group.groupId}) }}" class="btn btn-warning btn-sm">
                Add new group member
            </a>
            <a href="{{ path('printGroup', {'groupId': group.groupId}) }}" class="btn btn-primary btn-sm">
                <i class="fas fa-print"></i> Print Group
            </a>
            <table class="table table-striped table-sm">
                <thead class="unique-color">
                    <tr class="text-white">
                        <th>Registration Number</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                {% for registration in registrations %}
                    <tr>
                        <td>{{ registration.number }}</td>
                        <td>
                            <a href="{{ path('viewRegistration', {'registrationId': registration.registrationId}) }}">
                                {{ registration.firstname }} {{ registration.lastname }}
                            </a>
                        </td>
                        <td>{{ registration.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
