<p>Hello <b>{{ registration.firstname }}</b>!</p>
<p>Thank you for registering for Anime Detour {{ registration.event.year }}!</p>
<p>
    Your confirmation number is {{ registration.confirmationnumber }}.&nbsp;&nbsp;
    <img alt="{{ registration.confirmationnumber }}" src="{{ url }}">
</p>

<p>Anime Detour will take place from {{ registration.event.startdate|date("F j Y") }} to {{ registration.event.enddate|date("F j Y") }}.</p>

<p>Badges will be issued at the convention. You will need to bring a government issued photo ID with your birth date
    on it (such as a driver's license, or passport) in order to pick up your badge.  We also recommend bringing a copy
    of your receipt as proof a payment, just in case something comes up. (This email does not count as proof of payment.)</p>

{% if isSponsor %}
<p>
    Sponsor badges can be picked up during Registration hours at the convention in the Registration area (second floor of
    the hotel, outside of the Grand Ballroom). Please note: Sponsor badges are issued outside of the Registration window,
    <b>not</b> from the main Registration line! When you arrive at the convention, you will want to find the "Groups/Sponsors" line
    along the wall leading to the Registration window.  Please do not wait in the main Registration line to get your badge!
</p>

<p>
    If you arrive at Anime Detour outside of Registration hours, however, you will pick up your badge at Con Operations.
    Con Ops is located on the second floor, on the opposite side of the pool from the garden court.
</p>

<p>
    As part of the Sponsor package, you will receive a bag with goodies and a T-shirt. This bag will need to be picked
    up at Merchandise (in the corner on the first floor – right by the pool) after you pick up your badge. You will also
    receive a "Sponsor Letter", which will outline the perks of being a sponsor.
</p>
{% else %}
<p>
    Badges can be picked up during Registration hours at the convention in the Registration area (second floor of the
    hotel, outside of the Grand Ballroom). If you arrive at Anime Detour outside of Registration hours, you can pick up
    your badge at Con Operations. Con Ops is located on the second floor, on the opposite side of the pool from the
    garden court. If you do not have either and are a minor, an adult family member (with a government issued ID) can
    vouch for you.
</p>

<p>
    If you purchased a T-shirt with your order, you will need to pick it up at the convention at Merchandise.
</p>
{% endif %}

<p>
    If you have any questions, please feel free to contact the Registration department at
    <a href="mailto:ad_register@animedetour.com">ad_register@animedetour.com</a>.
</p>

<p>
    Thank you again, and we'll see you at the convention!
    <br>-Anime Detour Staff
</p>

<p>
    P.S. - For anyone that purchase multiple registrations: <b>Anime Detour will only issue one badge per person.</b> Anime
    Detour sells memberships to a yearly event, not tickets. This means that the person whose name the registration is
    in, not the person who paid for it, is considered the legal owner of said badge/registration/membership. <b>This means
        only the person whose name the registration is in can transfer, roll over, edit, or pick up their badge.</b> It does not
    matter who paid for it.
</p>

{% if isMinor %}
<p>
    P.P.S. - A note to parents: If you are planning to attend the convention as a chaperone, you will need to register
    yourself if you plan to go to panels, events, or convention areas. If you have any other questions, please feel free
    to send us an email to the address above.
</p>
{% endif %}
<br><img src="{{ atcLogo }}" width="200px">
