{##
 # Copyright (c) 2018. Anime Twin Cities, Inc.
 #
 # This project, including all of the files and their contents, is licensed under the terms of MIT License
 #
 # See the LICENSE file in the root of this project for details.
#}
<p>Hello <b>{{ registration.firstName }}</b>!</p>
<p>Thank you for registering for Anime Detour {{ registration.event.year }}!</p>
<p>
    Your confirmation number is {{ registration.confirmationNumber }}.&nbsp;&nbsp;
    <img alt="{{ registration.confirmationNumber }}" src="{{ url }}">
</p>

<p>Anime Detour will take place from {{ registration.event.startDate|date("F j Y") }} to {{ registration.event.endDate|date("F j Y") }}.</p>

<p>Badges will be issued at the convention. Please note that your confirmation number is for informational, trouble shooting,
    and transfer purposes only and cannot be used to pick up your badge. You will need to bring a government issued photo ID with your birth date
    on it (such as a driver's license, or passport) in order to pick up your badge.  We also recommend bringing a copy
    of your receipt as proof a payment, just in case something comes up. (This email does not count as proof of payment.)</p>

<p>
    If you have any questions, please feel free to contact the Registration department at
    <a href="mailto:ad_register@animedetour.com">ad_register@animedetour.com</a>.
</p>

<p>
    Thank you again, and we'll see you at the convention!
    <br>-Anime Detour Staff
</p>

<p>
    P.S. - For anyone that purchase multiple registrations: <b>Anime Detour will only issue one badge per person.</b> Anime
    Detour sells memberships to a yearly event, not tickets. This means that the person whose name the registration is
    in, not the person who paid for it, is considered the legal owner of said badge/registration/membership. <b>This means
        only the person whose name the registration is in can transfer, roll over, edit, or pick up their badge.</b> It does not
    matter who paid for it.
</p>

{% if isMinor %}
<p>
    P.P.S. - A note to parents: If you are planning to attend the convention as a chaperone, you will need to register
    yourself if you plan to go to panels, events, or convention areas. If you have any other questions, please feel free
    to send us an email to the address above.
</p>
{% endif %}
<br><img src="{{ atcLogo }}" width="200px">
