{% extends 'detour.html.twig' %}

{% block body %}
<ul>
    <li>
        <a href="#duplicates">Duplicate Entries</a>
    </li>
    <li>
        <a href="#age">Age less than 1 year old</a>
    </li>
    <!--
    <li>
        <a href="#NoShirt">Missing Shirts</a>
    </li>
    -->
</ul>

<h2 id="duplicates">Registration Errors Detected - Duplicate Entries (By Name & Year)</h2>
<div class="row-fluid">
    <div class="span5">
        <ul>
            {% for duplicates in duplicatesYear %}
            <li>{{ duplicates.lastname }}, {{ duplicates.firstname }} - {{ duplicates.year }}
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Badge Number</th>
                        <th>Badge Name</th>
                        <th>Email</th>
                        <th>Confirmation Number</th>
                        <th>Registration Date</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for registration in duplicates.registrations %}
                    {# @var registration \AppBundle\Entity\Registration #}
                    <tr>
                        <td><a href="/registration/view/{{ registration.registrationId }}">{{ registration.number }}</a></td>
                        <td>{{ registration.badgename }}</td>
                        <td>{{ registration.email }}</td>
                        <td>{{ registration.confirmationnumber }}</td>
                        <td>{{ registration.createddate|date('Y-m-d') }}</td>
                        <td>{{ registration.registrationtype.name }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<h2 id="duplicates">Registration Errors Detected - Duplicate Entries (By Name & Email)</h2>
<div class="row-fluid">
    <div class="span5">
        <ul>
            {% for duplicates in duplicatesEmail %}
            <li>{{ duplicates.lastname }}, {{ duplicates.firstname }} - {{ duplicates.email }}
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Badge Number</th>
                        <th>Badge Name</th>
                        <th>Birthday</th>
                        <th>Confirmation Number</th>
                        <th>Registration Date</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for registration in duplicates.registrations %}
                        {# @var registration \AppBundle\Entity\Registration #}
                        <tr>
                            <td><a href="/registration/view/{{ registration.registrationId }}">{{ registration.number }}</a></td>
                            <td>{{ registration.badgename }}</td>
                            <td>{{ registration.birthday|date('Y-m-d') }}</td>
                            <td>{{ registration.confirmationnumber }}</td>
                            <td>{{ registration.createddate|date('Y-m-d') }}</td>
                            <td>{{ registration.registrationtype.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<h2 id="age">Registration Errors Detected - Age Less than a Year</h2>
<div class="row-fluid">
    <div class="span5">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>Badge Number</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Badge Name</th>
                <th>Birthday</th>
                <th>Confirmation Number</th>
                <th>Registration Date</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            {% for registration in tooYoung %}
                {# @var registration \AppBundle\Entity\Registration #}
                <tr>
                    <td><a href="/registration/view/{{ registration.registrationId }}">{{ registration.number }}</a></td>
                    <td>{{ registration.lastname }}</td>
                    <td>{{ registration.firstname }}</td>
                    <td>{{ registration.badgename }}</td>
                    <td>{{ registration.birthday|date('Y-m-d') }}</td>
                    <td>{{ registration.confirmationnumber }}</td>
                    <td>{{ registration.createddate|date('Y-m-d') }}</td>
                    <td>{{ registration.registrationtype.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- <h2 id="NoShirt">Registration Errors Detected - Missing Shirts</h2> -->
{% endblock %}