{##
 # Copyright (c) 2018. Anime Twin Cities, Inc.
 #
 # This project, including all of the files and their contents, is licensed under the terms of MIT License
 #
 # See the LICENSE file in the root of this project for details.
#}
{% extends 'detour.html.twig' %}

{% block body %}
<div class="container bg-white">
    <div class="row">
        <div class="col-sm-12">
            <h2>
                <span style="float: left">
                    <a href="/registration/view/{{ registration.registrationId|default('') }}" class="btn btn-primary btn-sm">Back</a>&nbsp;-&nbsp;
                    {{ registration.firstName }} {{ registration.lastName }} ({{ registration.number }})</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span>
                    {% for badge in badges if badge.badgeStatus.active %}
                        {% if badge.badgetype.name == 'ADREGSTANDARD' %}
                            <div class="rounded" style="background: orange; color: white">Adult</div>
                        {% elseif badge.badgetype.name == 'MINOR' %}
                            <div class="rounded" style="background: yellow;">Minor</div>
                        {% elseif badge.badgetype.name == 'ADREGSPONSOR' %}
                            <div class="rounded" style="background: blue; color: white">Sponsor</div>
                        {% elseif badge.badgetype.name == 'ADREGCOMMSPONSOR' %}
                            <div class="rounded" style="background: purple; color: white;">Community Sponsor</div>
                        {% elseif badge.badgetype.name == 'STAFF' %}
                            <div class="rounded" style="background: red; color: white">Staff</div>
                        {% elseif badge.badgetype.name == 'GUEST' %}
                            <div class="rounded" style="background: black;">Guest</div>
                        {% elseif badge.badgetype.name == 'VENDOR' %}
                            <div class="rounded" style="background: green;">Vendor</div>
                        {% elseif badge.badgetype.name == 'EXHIBITOR' %}
                            <div class="rounded" style="background: silver;">Exhibitor</div>
                        {% endif %}
                    {% endfor %}
                </span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 registration-info">
            <h2>User Information</h2>
            <div class="info-row">
                <span class="info-label">Full Name</span>
                <span class="info-value">{{ registration.lastName }}, {{ registration.firstName }} {{ registration.middleName }}</span>
            </div>
            <div class="info-row">
                <span class="info-label">Birthday</span>
                <span class="info-value">{{ registration.birthday|date("F j Y") }}</span>
            </div>
            <div class="info-row">
                <span class="info-label">Badge Name</span>
                <span class="info-value">{{ registration.badgeName }}</span>
            </div>
        </div>
        <div class="col-sm-4 registration-status">
            <h2>Registration Info</h2>
            <div class="info-row">
                <span class="info-label">Type</span>
                <span class="info-value">{{ registration.registrationType.name }}</span>
            </div>
            <div class="info-row">
                <span class="info-label">Status</span>
                <span class="info-value"><b>{{ registration.registrationStatus.status }}</b>: {{ registration.registrationStatus.description }}</span>
            </div>
            <div class="info-row">
                <span class="info-label">Confirmation #:</span>
                <span class="info-value">{{ registration.confirmationNumber }}</span>
            </div>
        </div>
        <div class="col-sm-4 contact-info">
            <h2>Contact information</h2>
            <div class="contact-row">{{ registration.address }}</div>
            <div class="contact-row">{{ registration.address2 }}</div>
            <div class="contact-row">{{ registration.city }}, {{ registration.state }} {{ registration.zip }}</div>

            <div class="contact-row">{{ registration.phone }}</div>
            <div class="contact-row">{{ registration.email }}</div>
        </div>
    </div>

    {% if registration.registrationstatus.active and error == '' %}
        <div class="row">
            <div class="col-sm-2">
                <br>
                <br>
                <br>
                Rollover to: {{ nextYear }}
            </div>

            <div class="col-sm-2">
                <br>
                <br>
                <br>
                <a href="/registration/rollover/confirm/{{ registration.registrationId }}" class="btn btn-primary" style="width: 150px">Confirm Rollover</a><br>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <div class="bs-callout bs-callout-danger" id="alert_subdiv">
                    <h4 id="alert_heading">{{ error }}</h4>
                    <p id="alert_msg">{{ errorMessage }}</p>
                </div>
            </div>
        </div>
    {% endif %}
    <br>
</div>

<style>
    .rounded {
        -moz-border-radius: 15px;
        border-radius: 15px;
        width: 300px;
        padding-left: 10px;
        float: left;
    }
</style>
{% endblock %}
