{##
 # Copyright (c) 2018. Anime Twin Cities, Inc.
 #
 # This project, including all of the files and their contents, is licensed under the terms of MIT License
 #
 # See the LICENSE file in the root of this project for details.
#}
{% for section in sections %}
    <li>
        {% if section.items|length == 1 %}
            {% if section.items[0] is defined %}
                {% set firstItem = section.items[0] %}
                <a href="{{ path(firstItem.url) }}">{{ section.name }}</a>
            {% endif %}
        {% endif %}
        {% if section.items|length > 1 %}
            <a href="#{{ section.name }}">{{ section.name }}</a>
            <ul>
                {% for item in section.items %}
                    <li><a href="{{ path(item.url) }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endfor %}